@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-book.woff) format("woff"), url(/fonts/sharpsansno1-book.ttf) format("ttf");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-light.woff) format("woff"), url(/fonts/sharpsansno1-light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-medium.woff) format("woff"), url(/fonts/sharpsansno1-medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-semibold.woff) format("woff"), url(/fonts/sharpsansno1-semibold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal
}