/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-book.woff) format("woff"), url(/fonts/sharpsansno1-book.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-light.woff) format("woff"), url(/fonts/sharpsansno1-light.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-medium.woff) format("woff"), url(/fonts/sharpsansno1-medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: SharpSansNo1;
  src: url(./fonts/sharpsansno1-semibold.woff) format("woff"), url(/fonts/sharpsansno1-semibold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}
/* line 1, style-src/sass/partials/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, style-src/sass/partials/_base.scss */
body {
  font-family: SharpSansNo1,Helvetica Neue Regular,Helvetica,Arial,sans-serif;
}

/* line 2, style-src/sass/partials/_layout.scss */
.hum-header {
  height: 102px;
}

/* line 1, style-src/sass/partials/_link.scss */
a {
  color: #82ceac;
  text-decoration: none;
  font-weight: 700;
  text-transform: lowercase;
}
/* line 6, style-src/sass/partials/_link.scss */
a:hover {
  text-decoration: underline;
}

/* line 1, style-src/sass/partials/_button.scss */
.hum-btn {
  font-size: 1.1875rem;
  font-weight: 500;
  line-height: 1;
  background-color: #82ceac;
  color: white;
  display: inline-block;
  text-transform: lowercase;
  padding: 9pt 30px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  vertical-align: baseline;
}
/* line 12, style-src/sass/partials/_button.scss */
.hum-btn:hover {
  text-decoration: none;
}

/* line 2, style-src/sass/partials/_hum-header.scss */
.hum-header .field-name-field-logo {
  display: inline-block;
}
/* line 5, style-src/sass/partials/_hum-header.scss */
.hum-header .group-right {
  float: right;
  margin-top: 20px;
}
/* line 8, style-src/sass/partials/_hum-header.scss */
.hum-header .group-right .field-name-field-link-to-signin {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-right: 40px;
}
/* line 15, style-src/sass/partials/_hum-header.scss */
.hum-header .group-right .field-name-field-link-to-order {
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  margin-right: 40px;
}

/* line 1, style-src/sass/partials/_menu.scss */
.hum-menu {
  background-color: #f1f1f1;
}
/* line 3, style-src/sass/partials/_menu.scss */
.hum-menu ul li {
  display: inline-block;
  height: 42px;
  margin-right: 25px;
  padding: 9pt 0 10px;
  margin-left: 20px;
}
/* line 9, style-src/sass/partials/_menu.scss */
.hum-menu ul li a {
  color: #4b4b4b;
  font-size: 20px;
  font-weight: normal;
}
/* line 13, style-src/sass/partials/_menu.scss */
.hum-menu ul li a:hover {
  color: #82ceac;
}
